<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Perfil</h5>
      <div class="col-md-12">
          <label>Nombres:</label>
          <p>{{identidad.nomb_clien}}</p>
      </div>
      <div class="col-md-12">
          <label>Apellidos:</label>
          <p>{{identidad.apell_clien}}</p>
      </div>
      <div class="col-md-12">
          <label>Correo:</label>
          <p>{{identidad.email_clien}}</p>
      </div>
      <div class="col-md-12">
          <label>Telefono:</label>
          <p>{{identidad.tele_clien}}</p>
      </div>
      <div class="col-md-12">
          <label>Celular:</label>
          <p>{{identidad.celu_clien}}</p>
      </div>
      <div class="col-md-12">
          <label>Direccion:</label>
          <p>{{identidad.dire1_clien}}</p>
      </div>
    </div>
</div>